<header id="header" class="fixed-top">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar bg-primary" *ngIf="show">
        <a class="navbar-brand" href="#" style="cursor: default;">Syndicate Bank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" id="hai">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/page">Home</a>
            </li>
          
            <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/login">&nbsp;&nbsp;&nbsp;&nbsp;Login</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/register">&nbsp;&nbsp;&nbsp;&nbsp;Register</a>
            </li>
            
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/maps">&nbsp;&nbsp;&nbsp;&nbsp;Maps</a>
            </li>
           
          </ul>
          
        </div>
      </nav>
      
      </header>
      
      <!--Main layout-->
    