<div class="as">
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="https://tinyfac.es/data/avatars/8B510E03-96BA-43F0-A85A-F38BB3005AF1-500w.jpeg" style="border-radius:50%;height:80px;width:80px;margin-left:auto; margin-right:auto;" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Best bank</h5>
        <p class="card-text">This is one of the best banks that I have seen.It satisfies all the customer's needs and understands customer's problems.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg" style="border-radius:50%;height:80px;width:80px;margin-left:auto;margin-right:auto;" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Faster and efficient</h5>
        <p class="card-text">Banking in online and offline is very good and satisified</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjA3NjYzMzE1MV5BMl5BanBnXkFtZTgwNTA4NDY4OTE@._V1_UX172_CR0,0,172,256_AL_.jpg" style="border-radius:50%;width:80px;height:80px;margin-left:auto;margin-right:auto;" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Trust and caring</h5>
        <p class="card-text">The employees are taking care of customers very well.I have been a customer here for more than 3 years.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  </div>